*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

nav{
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    opacity: 65%;
    padding: 0.2rem 0;
    background-color: beige;
    transition: all 0.3s ease;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 8rem;
    font-size: 18px; 
}
nav ul li{
    cursor: pointer; 
    transition: all 0.3s ease;
}
nav ul li:hover{
    font-size: larger; 
}
nav ul li a{
    text-decoration: none;
    color: black;
}

nav .menu-right a{
    cursor: pointer;
}
nav .menu-right a:last-child{
    padding-right: 2rem;
}

nav:hover{
    opacity: 100%;
}
main {
    display: flex;
    flex-direction: column;
}
main section {
    background-image: url(../paginas/image/Nuestros_vinos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: burlywood;*/
    height: 100vh;
}

footer {
    background-color: rgb(243, 249, 253);  
}

nav .menu-right{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.precio{
    font-size: 20px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.footer-marco {
    background-color:  rgb(241, 177, 134);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 150px;  
}

.footer-texto-titulo {
    background-color:  beige;
    opacity: 65%;
    align-content: center;
    font-family: "Roboto";
    font-weight: bold;
}


.footer-cuadro-redes-sociales {
    background-color:  rgb(241, 177, 134);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
}



.footer-cuadro-contacto {
    display: grid;
    grid-template-columns: 2;
    background-color: rgb(241, 177, 134);
    align-content: center;
}


.footer-cuadro-medios-de-pago {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
}


.fa-brands {
    font-size: 25px;
}

.fa-square-facebook {
color: blue;
}



.fa-square-facebook:hover{
    color: white;
}

.fa-square-instagram {
    color: magenta;
}


.fa-square-instagram:hover{
    color: white;
}


.fa-youtube {
    color: red;
}

.fa-youtube:hover{
    color: white;

}


.fa-cc-paypal {
    color: darkblue;
}


.fa-cc-mastercard {
    color:black;
}

.fa-cc-visa {
    color: blue;
}